# AI CORE CONFIG (Ollama)
VITE_OLLAMA_URL=""
VITE_OLLAMA_MODEL=""

# FUTURE USE (Optional)
VITE_GEMINI_API_KEY=""

# FIREBASE CORE CONFIG
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""

# LOREKEEP ÖZEL VERİTABANI ID
VITE_FIREBASE_DB_ID=""